html {
  height: 100%;
}

body {
  background: #000a12;
  color: white;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 1.6em;
  height: 100%;
}

#root {
  width: 768px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}

a {
  color: rgba(214, 214, 214, 0.6);
}

h1.header {
  margin: 20px 0;
  text-align: center;
}

.errorMessages > * {
  background: #f05545;
  color: white;
  font-size: 0.5em;
  padding: 12px;
}

form {
  background: #fafafa;
  display: flex;
  justify-content: center;
  margin: 20px auto;
  padding: 30px;
  width: 92%;
}

input {
  animation-duration: 10ms;
  animation-name: mui-auto-fill-cancel;
  background: none;
  border: 0;
  border-bottom: 1px solid #009688;
  box-sizing: content-box;
  display: block;
  height: 1.1876em;
  letter-spacing: inherit;
  margin: 0;
  min-width: 0;
  padding: 6px 0 7px;
  width: 100%;
}

button {
  background: #009688;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  border: 1px solid rgba(214, 214, 214, 0.6);
  cursor: pointer;
  color: white;
  margin-left: 10px;
  padding: 8px 10px;
  min-width: max-content;
}

.profileCards {
  display: grid;
  font-size: 0.8em;
  grid-template-columns: repeat(3, minmax(245px, max-content));
  grid-gap: 16px;
}

figure {
  display: flex;
  flex-direction: row;
}

figure img {
  margin-right: 10px;
  height: 100px;
  object-fit: cover;
}

figure figcaption * {
  font-size: 0.8em;
  margin: 0;
  padding: 4px;
}

figure figcation h2 {
  font-weight: bold;
}

figure figcaption h3 {
  font-size: 0.6em;
}

footer {
  bottom: 0;
  font-size: 0.4em;
  padding: 16px;
  display: flex;
  margin-top: auto;
}
